section#genre {
    font-family: "SFPro-Text";
    color: white;
    .genre-nav {
        width: 100%;
        ul {
            overflow: scroll;
            width: 700px;
            margin-top: 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            li {
                list-style: none;
                padding: 0.5rem 2rem;
                a {
                    text-decoration: none;
                    color: white;
                }
            }

            .active {
                background: #272f3f;
                border-radius: 60px;
                padding: 0.5rem 2rem;
            }

            &::-webkit-scrollbar {
                width: 0px;
            }
        }
    }

    .movies {
        margin-top: 2rem;
        display: flex;
        overflow-x: scroll;
        .card {
            width: 150px;
            margin-right: 2rem;
            z-index: -1;
            .thumbnail {
                width: inherit;
                height: 200px;
                img {
                    width: inherit;
                    height: 200px;
                }
            }

            .card-title {
                margin-top: 1rem;
                display: flex;
                flex-direction: column;

                h4 {
                    font-size: .9em;
                    width: max-content;
                }

                span {
                    margin-top: .5rem;
                    font-size: .7em;
                }
            }
        }

        &::-webkit-scrollbar {
            width: 0px;
        }
    }
}
