section#genre, section#featured {
    font-family: "SFPro-Text", "Open-sans", sans-serif;
    color: white;
    .genre-nav {
        width: 100%;
        ul {
            overflow: hidden;
            width: max-content;
            margin-top: 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            li {
                list-style: none;
                padding: 0.5rem 2rem;
                a {
                    color: white;
                    text-decoration: none;
                    cursor: pointer;
                }
            }

            .active {
                background: #272f3f;
                border-radius: 60px;
                padding: 0.5rem 2rem;
            }

            &::-webkit-scrollbar {
                width: 0px;
            }

            @media screen and (max-width: 768px) {
                & {
                    width: 100%;
                    overflow: scroll;
                }
            }
        }
    }

    .movies, .featured-movies {
        margin-top: 2rem;
        display: flex;
        overflow-x: hidden;
        .card {
            width: 150px;
            margin-right: 2rem;
            cursor: pointer;
            .thumbnail {
                width: inherit;
                height: 200px;
                img {
                    width: inherit;
                    height: 200px;
                }
            }

            .card-title {
                margin-top: 1rem;
                display: flex;
                flex-direction: column;

                div {
                    display: flex;
                    margin-top: 0.5rem;
                    align-items: center;
                    p {
                        margin-left: 0.5rem;
                        font-size: 0.7em;
                    }
                }

                h4 {
                    font-size: 0.9em;
                    width: max-content;
                }

                span {
                    margin-top: 0.5rem;
                    font-size: 0.7em;
                }
            }
        }

        &::-webkit-scrollbar {
            width: 0px;
        }

        @media (max-width: 992px) {
            & {
                overflow: scroll;
            }
        }

        @media (max-width: 576px) {
            .card {
                .card-title {
                    span {
                        display: none;
                    }
                }
            }
        }
    }
}

section#featured {
    display: none;
    @media(max-width: 992px) {
        display: block;
    }
}

